/* BlogCard.module.css */
.blogcontainer {
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-items: center;
  padding: 20px;
}

.bton {
  background-color: purple;
  width: fit-content;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.bton:hover {
  background-color: whitesmoke;
  color: purple;
}

.blogCard {
  width: 80%;
  height: fit-content;
  margin: 20px 0;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.blogCcard:hover {
  transform: scale(1.02);
}

.blogDetails {
  padding: 20px;
  width: 60%; /* Adjusted width for details */
  background-color: #f9f9f9;
}

.blogImage {
  width: 40%; /* Adjusted width for image */
  height: 100%;
  background-color: #ddd;
  background-size: cover;
}

.head {
  margin-bottom: 10px;
  font-weight:bold;
  font-size: 1.5rem;
  color:black;
}

.blogCard:hover {
  transform: translateY(-5px);
}

.readMoreButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: #8e44ad; /* Purple color */
  border: 2px solid #8e44ad; /* Purple color */
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.readMoreButton:hover {
  background-color: #8e44ad; /* White background on hover */
  color: white; /* Purple text on hover */
}

.para1 {
  margin-bottom: 15px;
  font-weight: bold;
  color: black;
}

.p:last-child {
  margin-bottom: 0;
}
